{% extends template_base %}

{% block title %}Critic's review{% endblock %}

{% block control %}
  <form role="form" action="{% url 'critic:review' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h3>Review the book</h3>
        {% if form.errors %}
          <div role="alert" class="alert alert-danger">{{ form.errors }}</div>
        {% endif %}
        <div class="form-group">
          <label for="id_book">Book name</label>
          <select id="id_book" class="form-control" name="book">
            {% for token, choice in form.fields.book.choices %}
              <option value="{{ token }}">{{ choice }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="id_text">Text</label>
          <textarea id="id_text" class="form-control" name="text"
                    rows="8">{{ form.form.text }}</textarea>
        </div>
      </div>
    </div>
    {{ block.super }}
  </form>
{% endblock %}
